name: ci
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to Github Docker Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get lower case name
        id: image_tag
        run: echo ::set-output name=user::$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/${{ steps.image_tag.outputs.user }}/apache-spark-github-action-image-other:tag1
          cache-from: type=registry,ref=yikunkero/apache-spark-github-action-image:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
