name: Build and test

on:
  workflow_call:
    inputs:
      java:
        required: false
        type: string
        default: 8
      branch:
        description: Branch to run the build against
        required: false
        type: string
        default: branch-3.3
      cron:
        description: >-
          Cron schedule job or not.
        required: false
        type: boolean
        default: false
jobs:
  infra-image:
    if: false
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.infra-image-outputs.outputs.image_name }}
      # || (inputs.cron == true && inputs.branch != 'master' && format('ghcr.io/apache/spark/apache-spark-github-action-image-cache:{0}', inputs.branch))
      image_url:  >-
        ${{
          (inputs.branch == 'master' && steps.infra-image-outputs.outputs.image_url)
          || 'dongjoon/apache-spark-github-action-image:20220207'
        }}
    steps:
      - name: print
        run: |
          echo "${{ steps.infra-image-outputs.outputs.image_url }}"
          echo ${{ github.actor }}
          echo ${{ github.repository_owner }}
      - name: Generate image name and url
        id: infra-image-outputs
        run: |
          # Convert to lowercase to meet docker repo name requirement
          REPO_OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMG_NAME="apache-spark-ci-image-test:${{ inputs.branch }}-${{ github.run_id }}"
          IMG_URL="ghcr.io/$REPO_OWNER/$IMG_NAME"
          echo ::set-output name=image_url::$IMG_URL
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout Spark repository
        uses: actions/checkout@v2
        # In order to fetch changed files
        with:
          fetch-depth: 0
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          push: true
          tags: |
            ${{ steps.infra-image-outputs.outputs.image_url }}

  job1:
    runs-on: ubuntu-latest
    needs: [infra-image]
    container:
      # Currently, only enable docker build from cache for `master` branch jobs
      image: ${{ needs.infra-image.outputs.image_url }}
    steps:
      -
        name: Image digest
        run: |
          echo ${{ needs.infra-image.outputs.image_name }}
          echo ${{ needs.infra-image.outputs.image_url }}


  job2:
    if: false
    runs-on: ubuntu-latest
    steps:
      -
        name: Image digest
        run: echo "job2"
  
  job3:
    runs-on: ubuntu-latest
    steps:
      -
        name: Image digest
        run: echo "job3"
